<div class="jumbotron text-center">
	<h1>Artist</h1>

	<p>{{ tagline }}</p>

	<form>
		<input type="text" class="form-controll input-lg text-center" placeholder="Add an Artist!" ng-model="formData.text">

		<button type="submit" class="btn btn-primary btn-lg" ng-click="createArtist()">Add</button>
	</form>

	<div class="artist-container row" ng-repeat="obj in artists">
		<p class="col-sm-3">{{ obj.name }}</p>
		<button class="col-sm-1 btn" ng-click="deleteArtist(obj._id)">x</button>
	</div>
</div>