<div class="jumbotron text-center">
	<h1>Artist</h1>

	<p>{{ tagline }}</p>

	<form>
		<input type="text" class="form-controll input-lg text-center" placeholder="Add an Artist!" ng-model="formData.text">

		<button type="submit" class="btn btn=primary btn-lg" ng-click="createArtist()">Add</button>
		<button class="btn" ng-click="getArtists()">View Artists</button>
	</form>

	<p>{{ artists.name }}</p>

	<div ng-repeat="obj in artists">
		<table class="artistTable">
			<tr>
				<td>
					<p>{{ obj.name }}</p>
					<button>Delete</button>
				</td>
			</tr>
		</table>
	</div>
</div>